button .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  color: aliceblue;
  stroke: aliceblue !important;
}

.ql-even,.ql-fill{
    fill: none;
    color: aliceblue;
    stroke: aliceblue !important;
}

.ql-active .ql-stroke {
  color: aliceblue;
  stroke: #D4AEFF !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: #D4AEFF !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill:#D4AEFF !important;
  stroke: none;
}
.ql-picker-label{
    color: aliceblue;
    fill: aliceblue;
}
.ql-fill{
    fill: aliceblue;
}
.ql-list{
    fill: aliceblue;
    color: aliceblue;
}

.ql-container.ql-snow{ 
    border: gray !important;
    background-color: inherit;
}

.ql-editor{
  margin-top: 10px;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

.ql-toolbar.ql-snow{
    border: #1d313b !important;
    background-color: inherit;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
    color: aliceblue;
}

#toolbar{
  font-size: 1.2rem;
}